<div th:switch="${students}">
    <h2 th:case="null">No students yet!</h2>
    <div th:case="*">
        <h2>Students</h2>
        <table>
            <thead>
            <tr>
                <th>firstName</th>
                <th>lastName</th>
                <th>grade</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.firstName}"></td>
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.grade}"></td>
                <td><a th:href="@{/edit/{id}(id=${student.id})}">Edit</a></td>
                <td><a th:href="@{/delete/{id}(id=${student.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/signup">Add a new Student</a></p>
</div>